<!DOCTYPE html>
<html>
<head>
	<title>slog.io | Von Beruf Endverbraucher.</title>
	<meta charset="UTF-8">
	<%= stylesheet_link_tag "bootstrap_and_overrides" %>
	<%= stylesheet_link_tag params[:controller] %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
</head>
<body>
	<div class="container">
		<div class="content span3">
				<h2>slogin</h2>
				<div class="login-form">					
					<% if flash[:alert] %>
					<div class= "alert alert-error span3">
						<a class="close" data-dismiss="alert">×</a>
						<%= flash[:alert] %>
					</div>
					<% end %>
				  
					<%= form_tag do %>
					<fieldset>
						<div class="controls">
							<%= text_field_tag :name, params[:name], placeholder: "Name", class: "span3" %>
						</div>
						<div class="controls">
							<%= password_field_tag :password, params[:password], placeholder: "Password", class: "span3" %>
						</div>
						<%= submit_tag "Login", :class => "btn btn-primary" %>
					</fieldset>
					<% end %>
				</div>
		</div>
	</div> <!-- /container -->
</body>
</html>