<div id="ideas" class="span4 content-listing well">
	<h1>Ideas</h1>
	
	<%=  form_for([:backend, @post], :url => backend_new_idea_path,	:remote => true, :html => { :id => 'idea_form', :class => 'form-inline' }) do |f| %>
	
	<div class="controls">
		<%= f.text_field :title, :placeholder => 'new Idea' %>		
	</div>
			
	<% end %>
	
	<% @ideas.each do |post| %>

	<div class="row item">
		<div class="pull-left">
			<%= link_to post["value"].title, edit_backend_post_path(post["value"].id) %>
		</div>		
		<%= link_to raw('<i class="icon-large icon-remove-sign"></i>'), backend_post_path(post["value"].id), :method => :delete, :remote => :true, :class => "pull-right delete_button" %>		
	</div>
		
	<% end %>	
	
</div>

<div id="published" class="span4 content-listing">
	<h2>Published</h2>
	
	<% @published.each do |post| %>

	<div class="item row">
		<div class="pull-left">			
			<%= link_to post["value"].title, edit_backend_post_path(post["value"].id) %>
		</div>
		<%= link_to raw('<i class="icon-large icon-remove-sign"></i>'), backend_post_path(post["value"].id), :method => :delete, :remote => :true, :class => "pull-right delete_button" %>		
	</div>
		
	<% end %>
	
</div>		
