<%= form_for([:backend, @post], :html => { :id => 'post_form' }) do |f| %>
<fieldset>
	<div class="control-group">
		<div class="controls"><%= f.text_field :title, :placeholder => "Title" %></div>
	</div>

  <div class="control-group">
		<div class="controls">
			<%= f.text_area :mdown, :rows => 15, :placeholder => "Content" %>
			<%= hidden_field_tag 'type', 'link' %>
		</div>
	</div>

  <div class="control-group">
		<div class="controls">
			<%= f.url_field :url, :placeholder => "Source" %>
		</div>
	</div>

	<div class="btn-toolbar">
		<div class="btn-group" data-toggle-name="state"  data-toggle="buttons-radio">
			<%= f.button "Idea", :value => 'idea', :type => "button", :class => "btn" %>
      <%= f.button "Review", :value => 'in_review', :type => "button", :class => "btn"%>

      <% if @post.state == "published" || @post.publishable? %>
      <%= f.button "Publish",:value => 'published', :type => "button", :class => "btn" %>
      <% end %>
		</div>

    <%= f.submit "save", :class => 'btn btn-primary' %>

    <div class="pull-right">
      <%= link_to "delete", backend_post_path(@post.id), :method => :delete, :class => "btn btn-danger delete-button" %>
      <%= link_to "Preview", post_path(@post), :target => "_blank",:class => "btn" %>
    </div>

		<%= f.hidden_field :state, :name => "state" %>
	</div>
</fieldset>
<% end %>