<%= form_for([:backend, @post], :remote => true, :html => { :id => 'post_form', :class => 'span8' }) do |f| %>
<fieldset>
	<div class="control-group">		
		<div class="controls"><%= f.text_field :title, :placeholder => "Title" %></div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= f.url_field :url, :placeholder => "Source" %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= f.text_area :mdown, :rows => 15, :placeholder => "Content" %>
			<%= hidden_field_tag 'type', 'link' %>
		</div>
	</div>

	<div class="btn-toolbar">
		
		<div class="btn-group" data-toggle-name="published"  data-toggle="buttons-radio">
			<%= f.button raw("<i class='icon icon-ok'></i> Idea"), :value => 'false', :type => "button", :class => "btn"%>
			<%= f.button raw("<i class='icon icon-ok'></i> Public"),:value => 'true', :type => "button", :class => "btn" %>			
		</div>
		
		<%= link_to "Preview", post_path(@post), :target => "_blank",:class => "btn preview_button" %>

		<%= f.submit "save", :class => 'btn btn-inverse' %>
	
		<%= f.hidden_field :published, :name => "published" %>		
		
	</div>

</fieldset>
<% end %>