<!DOCTYPE html>
<html>
<head>
    <title>slog.io - Backend</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "backend/application" %>
    <%= auto_discovery_link_tag :atom, feed_path %>
    <%= csrf_meta_tags %>
    <script src="http://use.edgefonts.net/source-sans-pro.js"></script>
</head>
<body>
	
	<div class="container-fluid">		
		<div class="row-fluid" >			
			<div class="span2 sidebar">
		        <div class="logo">
					<div class="logoLink">
						<%= link_to image_tag("slogo_small.png", width: "70px"), backend_root_url %>
					</div>
					
					<div id="buttons">
						<%= link_to raw("<i class='icon-file'></i>  visit slog"), root_url, target: "_blank", :class => "btn btn-block" %>
						<%= link_to raw("<i class='icon-off'></i>  slog out"), logout_url, :class => "btn btn-block" %>
					</div>
		        </div>
			</div>
			
	        <div class="yourPosts span9">
	            <%= yield %>
	        </div>		
		</div>		
	</div>
	
    <%= javascript_include_tag "backend/application" %>
	
</body>
</html>