<!DOCTYPE html>
<html>
<head>
    <title>slog.io - Backend</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,400italic,600italic,700italic|Source+Code+Pro:300,400,500' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "backend/base" %>
    <%= javascript_include_tag "backend/base" %>
    <%= auto_discovery_link_tag :atom, feed_path %>
    <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <p class="navbar-text">
            <%= link_to "slog out", logout_url, class: "pull-right" %>
        </p>
        <ul class="nav">
          <li class="active">
            <%= link_to "Hypercouch", backend_root_url, class: "brand" %>
          </li>
          <li><%= link_to "visit slog", root_url, target: "_blank" %></li>
        </ul>
      </div>
    </div>
  </div>

	<div class="container-fluid">
		<div class="row-fluid" >

			<div class="span3 sidebar">
        <ul class="nav nav-pills" id="sidebarTabs">
    			<li class="active">
            <a href="#ideas" data-toggle="tab">Ideas</a>
          </li>
          <li>
            <a href="#in_review" data-toggle="tab">In Review</a>
          </li>
    			<li>
            <a href="#published" data-toggle="tab">Published</a>
          </li>
        </ul>

      	<div class="tab-content">

      		<div id="ideas" class="tab-pane active">

            <small>NEW IDEA</small>

      			<%=  form_for([:backend, @new_post], :url => backend_new_idea_url,	:remote => true, :html => { :id => 'idea_form'}) do |f| %>
              <%= f.text_field :title, :placeholder => 'add a new idea here' %>
      			<% end %>

            <small>RECENT IDEAS <a href="#" class="btn btn-small pull-right edit-Button" data-toggle="button">edit</a></small>

      			<ul class="post_list">
            <% cache @ideas.first.cache_key do %>
              <%= render :partial => "backend/posts/post", :collection => @ideas %>
            <% end %>
      			</ul>

      		</div>

      		<div id="in_review" class="tab-pane">
            <small>POSTS IN REVIEW <a href="#" class="btn btn-small pull-right edit-Button" data-toggle="button">edit</a></small>
      			<ul class="post_list">
            <% cache @in_review.first.cache_key do %>
              <%= render :partial => "backend/posts/post", :collection => @in_review %>
            <% end %>
      			</ul>
      		</div>

      		<div id="published" class="tab-pane">
            <small>PUBLISHED POSTS <a href="#" class="btn btn-small pull-right edit-Button" data-toggle="button">edit</a></small>
      			<ul class="post_list">
            <% cache @published.first.cache_key do%>
              <%= render :partial => "backend/posts/post", :collection => @published %>
            <% end %>
      			</ul>
      		</div>

      	</div>

			</div>

	    <div class="span8 offset3">

        <% if flash[:alert] %>
          <div class= "alert alert-error">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <%= yield %>

	    </div>

		</div>
	</div>

</body>
</html>