<!DOCTYPE html>
<html>
<head>
  <title>slog.io | 
	  <% if controller.action_name == "show" %>
	  	<%= @post.title %>
	  <% else %>
	  	Von Beruf Endverbraucher.
	  <% end %>
  </title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :atom, feed_path %>
  <script src="http://use.edgefonts.net/source-sans-pro.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
  <meta name="google-site-verification" content="HJm0ZJgwuIvaoKiDQXPb3XjcZRmnlHJLEd95Pm3PHTI" />
</head>
<body>
	
	<header>
		<div>
			<%= link_to image_tag("slogo_small.png", width: "70px"), root_url %>
			<h1>Slog. <span>Von Beruf Endverbraucher.</span></h1>
			
			<ul>
				<li><a href="http://twitter.com/slogmen">@slogmen<span></span></a></li>
				<li><%= link_to "news feed <span></span>".html_safe, feed_url%></li>
			</ul>
		</div>
	</header>

	<section id="content">
		<%= yield %>
	</section>
	
	<%= javascript_include_tag "application" %>
</body>
</html>