<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    slog.io | <%= controller.action_name == "show" ?
    @post.title : "Von Beruf Endverbraucher" %>
  </title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,400italic,600italic,700italic|Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :atom, feed_path %>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <meta name="google-site-verification" content="HJm0ZJgwuIvaoKiDQXPb3XjcZRmnlHJLEd95Pm3PHTI" />
</head>
<body>

  <header data-no-turbolink>

    <section class="m-hero">
      <div class="m-hero-wrapper">
        <div class="m-hero-logo">
          <%= link_to image_tag("slogo2.svg", width: "100px", height:"100px"), root_url, :class => "m-hero-logolink" %>
        </div>

        <div class="m-hero-selfdefinition">
          <p>
            <span class="m-hero-title">Slog.</span>
            Hallo, ich bin <span class="m-hero-author">Thomas Schrader</span>.
            <br />Ich <span class="m-hero-remark">bin von Beruf Endverbraucher.</span>
            <a href="" class="remark-refresh">
              <%= render "shared/refresh_icon" %>
            </a>
          </p>
        </div>
      </div>
    </section>
  </header>

  <div class="container">

    <aside class="m-sidebar">
      <nav class="m-sidebar-menu">
        <ul class="m-sidebar-menu-list">
          <li><%= link_to "slog.io", root_url %></li>
          <li><%= link_to "Archive", all_posts_url %></li>
          <li><a href="http://twitter.com/slogmen">@slogmen</a></li>
          <li><a href="mailto:hallo@slog.io?subject=Guten Tag!">sag Hallo!</a></li>
          <li><%= link_to "feed", feed_url %></li>
        </ul>
      </nav>
    </aside>

    <div class="content">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>